@import "tailwindcss";

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

:root {
  /* Base colors */
  --color-bg: rgb(255, 252, 240);
  --color-bg-2: rgb(242, 240, 229);
  --color-ui: rgb(230, 228, 217);
  --color-ui-2: rgb(218, 216, 206);
  --color-ui-3: rgb(206, 205, 195);
  --color-tx: rgb(16, 15, 15);
  --color-tx-2: rgb(111, 110, 105);
  --color-tx-3: rgb(183, 181, 172);

  /* Accent colors - Base */
  --color-re: rgb(175, 48, 41);
  --color-or: rgb(188, 82, 21);
  --color-ye: rgb(173, 131, 1);
  --color-gr: rgb(102, 128, 11);
  --color-cy: rgb(36, 131, 123);
  --color-bl: rgb(32, 94, 166);
  --color-pu: rgb(94, 64, 157);
  --color-ma: rgb(160, 47, 111);

  /* Accent colors - Light */
  --color-re-light: rgb(209, 77, 65);
  --color-or-light: rgb(218, 112, 44);
  --color-ye-light: rgb(208, 162, 21);
  --color-gr-light: rgb(135, 154, 57);
  --color-cy-light: rgb(58, 169, 159);
  --color-bl-light: rgb(67, 133, 190);
  --color-pu-light: rgb(139, 126, 200);
  --color-ma-light: rgb(206, 93, 151);

  /* System colors */
  --background: var(--color-bg);
  --foreground: var(--color-tx);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
